/* all text color is white */
* {
    color:aliceblue;
    font-family: 'GlegooBanner';
}

@font-face {
    font-family: 'GlegooBanner';
    src: url('../fonts/Glegoo-Regular.woff2') format('woff2'),
         url('../fonts/Glegoo-Regular.woff') format('woff'),
         url('../fonts/Glegoo-Regular.ttf') format('truetype');
}

@media (min-aspect-ratio: 8/5) {
    div {
      background: #9af; /* blue */
    }
}

body {
    background: #1f3255;
    font-size: 16px;
    margin: 0cm;
    padding: 0mm;
}

header {
    display: block;
}

body section {
    height: 10px;
    min-width: none;
    max-width: fit-content;
}

h1 {
    position: fixed;
}

nav {
    margin-top: 30px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
}
h1,h3 {
    color:aquamarine;
}

h3:hover {
    color:#e22777;
}

a:active {
    background-color: yellow;
}

[href]{
    color: magenta;
 }

.bullet li {
    font-size: 0.9em;
}

section {
    margin-top: 8px;
    margin-bottom: 8px;
}
section.Translation {
    color:burlywood;
}

section > label {
    color:chartreuse;
}

div + section {
    margin-top: 10px;
    margin-bottom: 10px;
}

div ~ p {
    margin-top: 10px;
    margin-bottom: 10px;
}

details {
    position: sticky;
    display: flex;
}

summary {
    font-size: 125%;
}

#form-title {
    margin: auto;
    text-align: center;
    border-width: 2px;
    border-color: #4CAF50;
    border-style: solid;
    border-radius: 30px;
    width: auto;
}

#part2 {
    display: inline;
}

.footer {
    text-decoration: underline overline dotted #e22777;
    display: block;
}